
<div class="sidebar-wrapper">

    <!-- Header -->
    <div class="logo">
        <a class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/depaul-logo.png" alt="">
            </div>
            <div class="logo-text">
                Safety Escort
            </div>
        </a>
    </div>

    <ul class="nav">

        <!-- Logout (Mobile) -->
        <li *ngIf="isMobileMenu()">
            <a class="logout-button" (click)="authService.logout()">
                <i class="ti-power-off"></i>
                <p>Logout</p>
            </a>
        </li>

        <!-- Divider (Mobile) -->
        <li class="divider" *ngIf="isMobileMenu()"></li>

        <!-- Pages -->
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" [ngClass]="{active: (getTitle() == menuItem.title)}">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>

    </ul>
</div>
