<meta name="google-signin-client_id" content="471261646647-pmod5p08ldkguvpvrd0qb782op08i43k.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Completed Rides</h4>
                    <p class="category">A list of all the successfully completed trips</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let ride of rides 
                                        | async 
                                        | reverse 
                                        | mySearch : filterStatuses  
                                        | paginate: { itemsPerPage: 5, currentPage: pageNum } "
                            >
                                <td>{{ride.driver}}</td>
                                <td>{{ride.pickup}}</td>
                                <td>{{ride.dropoff}}</td>
                                <td>{{ride.passengers}}</td>
                                <td>{{ride.created | date : 'MMM d, h:mm a'}}</td>
                                <td>{{ride.finished | date : 'MMM d, h:mm a'}}</td>
                                <td *ngIf="ride.no_show">True</td>
                                <td *ngIf="!ride.no_show">False</td>
                            </tr>
                        </tbody>
                    </table>
                        <pagination-controls 
                            class="escort-completed-pagination" 
                            (pageChange)="pageNum = $event"
                        >
                        </pagination-controls>

                </div>
            </div>
        </div>
    </div>
</div>
