<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Completed Rides</h4>
                    <p class="category">A list of all the successfully completed trips</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="review-row" *ngFor=" let escort of escortList 
                                        | async 
                                        | reverse 
                                        | mySearch : filterStatuses  
                                        | paginate : { itemsPerPage: 5, currentPage: pageNum } "
                            >
                                <td>{{escort.driver}}</td>
                                <td>{{escort.pickup}}</td>
                                <td>{{escort.dropoff}}</td>
                                <td>{{escort.passengers}}</td>
                                <td>{{escort.created | date : 'MMM d, h:mm a'}}</td>
                                <td>{{escort.finished | date : 'MMM d, h:mm a'}}</td>
                                <td *ngIf="escort.no_show">True</td>
                                <td *ngIf="!escort.no_show">False</td>
                            </tr>
                        </tbody>
                    </table>
                        <pagination-controls 
                            class="escort-completed-pagination" 
                            (pageChange)="pageNum = $event"
                        ></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
