<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="header">
                    <h4 class="title">Escorts per Driver</h4>
                    <p class="category">The number of escorts each driver has completed</p>
                </div>
                <div class="content graph-content">
                    <app-driver-graph></app-driver-graph>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="header">
                    <h4 class="title">Pickups by Building</h4>
                    <p class="category">The number of pickups at a given building</p>
                </div>
                <div class="content graph-content">
                    <app-pickup-graph></app-pickup-graph>
                </div>
            </div>
        </div>

    </div>
</div>

